#_desktop_top_menu #top-menu > li .sub-menu ul[data-depth="1"] > li {margin-bottom:15px}
#_desktop_top_menu #top-menu > li .sub-menu a {font-weight:400;}
.header-nav .left-nav .contact-email{height: 30px;}
.header-nav .left-nav .contact-email a{vertical-align: -webkit-baseline-middle;}
.header-nav .left-nav .contact-email .email-img{display:none}
.header-nav .left-nav .contact-email .fa-instagram{vertical-align:middle;width:16px;height:16px;}
.header-nav .left-nav .contact-email .email-img{width:0px;display:none}
.product-thumb .rating,.product-thumb .button-group{display:none}
.product-thumb .btn-cart{position:relative;opacity: 1;-moz-transform:none;-webkit-transform:none;-o-transform:none;-ms-transform:none;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;-o-transition: all 0.6s;transition: all 0.6s;}
.product-thumb .caption .price{opacity: 1!important;}
.quantity .input-group{display: table;}
#ishiheaderblock{text-transform: none;}
.product-thumb .caption .price,.product-thumb{margin-bottom:15px}
.product-thumb .caption .articul {color: #171717;font-size: 12px;font-weight: 400;margin-bottom:15px;}
.bannerblock .banner-btn{text-transform:none;color:#787878}
.bannerblock .banner-subtitle{margin: 0 0 5px;}
.ishibannerblock,.ishiparallaxbannerblock{margin-bottom:70px;}
.ishiservicesblock .home-title{margin-bottom:40px;}
#footer .footer-container .block-contact .block{margin-bottom: 0;}
.ishiparallaxbannerblock .parallax_banner .parallax-list .parallax-subtitle,.ishiparallaxbannerblock .parallax_banner .parallax-list .parallax-desc{text-transform:none;}
.product-thumb .stiker span{border: 1px solid #c96;border-radius: 5px;padding: 5px 7px;display: inline-block;font-size: 12px;font-weight: 400;margin: 0 3px 15px;text-align:center;}
.product-right .stiker{margin-top:15px}
.product-right .attribute{padding-left:10px}
.product-right .stiker span{border: 1px solid #c96;border-radius: 5px;padding: 5px 7px;display: inline-block;font-size: 12px;font-weight: 400;margin: 0 3px 15px;text-align:center;}
.breadcrumb a{text-shadow: 1px -2px 3px white;}
.ras,.ras:hover{text-decoration:underline}
.product-right .rating-wrapper{margin:50px 0}
#information-contact .contact-location .location-title i{border: 2px solid #cc9966;color:#cc9966;vertical-align: middle;top:0}


body {
	overflow-x: hidden;
}
/*header*/
#top-menu > li > a {
	font-size: 18px;
}
#_desktop_top_menu #top-menu > li:hover:hover .sub-menu {
	box-shadow:  5px 5px 9px 0px #00000091;
}
#_desktop_top_menu #top-menu > li:hover:hover .sub-menu:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #c99866;
    position: absolute;
    left: 40px;
    top: -15px;
    transform: rotate(271deg);
}
#_desktop_search_widget .search-logo .icon {
	transform: scale(1.3);
}
#_desktop_user_info .user-info .icon {
	transform: scale(1.3);
}
#_desktop_cart .icon {
	transform: scale(1.2);
}
/*header*/
.breadcrumb a {white-space:  normal;}

/*Главная страница*/
#common-home #flexslider .flex-direction-nav a:before {
    font-size: 27px;
    width: 100%;
    text-align: center;
    color: #fff;
    left: 3px;
}
#common-home #flexslider .flex-direction-nav a {
    background-color: #c96;
    border-radius: 50%;
}
#common-home #flexslider .flex-direction-nav .flex-prev:before {
	left: -2px;
}
#common-home #flexslider .flex-control-paging li a.flex-active {
	background: #c91;
	border-color: #c91;
}
#common-home #flexslider .flex-control-paging li a {
	background: #fff;
    border: 1px solid #000;
}
#common-home #flexslider .flex-control-paging li a:hover {
    background: transparent;
}
.ishislider {
	margin: 0 0;
}
.ishibannerblock {
	background-color: #F2F2F2;
	padding: 55px 0;
}
.ishibannerblock > .row {
	display: flex;
	justify-content: space-between;
}
.ishibannerblock .bannerblock {
	width: 20%;
	max-width: 350px;
	padding: 0 0;
	transition: 0.3s;
}
.ishibannerblock .bannerblock .banner-data {
	overflow: initial;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-color: #ffffffa1;
    text-align: center;
    padding: 17px 0;
}
.ishibannerblock .bannerblock .banner-data .banner-btn {
	color: #000;
	text-decoration: none;
	border: none;
    font-size: 16px;
    position: relative;
}
.ishibannerblock .bannerblock .banner-data .banner-subtitle {
	text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 13px 0;
    color: #000;
}
.ishibannerblock .bannerblock:hover {
	transition: 0.3s;
	transform: scale(1.03);
	box-shadow: 4px 4px 9px 0px #00000080;
}
.bannerblock a img {
	transition: 0.3s;
}
.ishibannerblock .bannerblock .banner-data .banner-btn:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	background-color: #c96;
	width: 0;
	height: 0;
}
.ishibannerblock .bannerblock:hover .banner-data .banner-btn:after {
	width: 100%;
	height: 2px;
	transition: 0.3s
}
.ishibannerblock .bannerblock:hover .banner-data .banner-subtitle {
	color: #c96;
	transition: 0.7s
}

.ishiproductsblock .ishiproductstab {
	margin-bottom:  0;
}
.ishiproductsblock {
	overflow:  initial;
}
.ishiproductsblock .owl-carousel .owl-nav {
	position:  absolute;
	left: 0;
	top: 46.5%;
	width:  100%;
    display: flex;
    justify-content: space-between;
}
.ishiproductsblock .owl-carousel .owl-nav > * {
	position: relative!important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.ishiproductsblock .owl-carousel .owl-nav > *:hover {
	transition:  0.3s;
	box-shadow:  5px 5px 9px 0px #00000091;
}
.ishiproductsblock .owl-carousel .owl-nav .owl-prev {
	left: -45px;
}
.ishiproductsblock .owl-carousel .owl-nav .owl-next {
	right: -45px;
}
.ishiproductsblock .owl-carousel .owl-nav i:before {
	font-size: 20px;
	margin-left: 3px;
}
.ishiproductsblock .owl-item .item {
	padding: 0 0;
    margin: 25px 15px;
}
.ishiproductsblock .owl-item .item:hover {
	transition:  0.3s;
	transform:  scale(1.03);
	box-shadow:  3px 2px 9px 1px #00000082;
}
.ishiproductsblock .owl-item .item:hover .product-thumb {
	border: 0px solid #e9e9e9;
}
.ishiproductsblock .owl-item .item .product-thumb {
	border: 1px solid #e9e9e9;
}
.ishiproductsblock .owl-item .item .stiker {
	display: flex;
    justify-content: center;
}
.ishiproductsblock .owl-item .item .stiker * {
    color: #c96;
    text-transform: uppercase;
    margin: 0 5px 10px 0;
    padding: 2px 15px 1px 17px;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: initial;
}
.ishiproductsblock .owl-item .item h4 {
	height: 40px;
    overflow: hidden;
    margin: 0 0 5px 0;
}
.ishiproductsblock .owl-item .item .articul {
   margin: 0 0 10px 0;
}
.ishiproductsblock .owl-item .item .price {
   font-size: 18px;
}
.ishiproductsblock .owl-item .item h4 a {
	white-space: normal;
}

#common-home .home-title {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#common-home .home-title:before,
#common-home .home-title:after {
	content: '';
	flex: 0.4;
	height: 2px;
	background-color: #f2f2f2;
	display:  block!important;
}

.ishiparallaxbannerblock .parallax_banner .parallax-list .parallax-title {
   color: #000000;
}
.ishiparallaxbannerblock .parallax_banner .parallax-list {
    text-transform: uppercase;
}

/*index services*/
.ishiservicesblock {
    margin: 80px 0 70px 0;
}
.ishiservices {
	border:  none!important;
    display: flex;
    justify-content: space-between;
}
.ishiservices .services {
	border:  none!important;
	position: relative;
	z-index: 1;
    width: 20%;
}
.ishiservices .services a:hover {
	cursor: default;
}
.ishiservices .services:before {
	content: ;
    position: absolute;
    font-size: 144px;
    color: #e4e4e4ad;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
    font-weight: 600;
    letter-spacing: -10px;
}
.ishiservices .services:nth-child(1):before { content: '01'; }
.ishiservices .services:nth-child(2):before { content: '02'; }
.ishiservices .services:nth-child(3):before { content: '03'; }
.ishiservices .services:nth-child(4):before { content: '04'; }
.ishiservices .services .service-img {
	display: flex;
    justify-content: flex-end;
}
.ishiservices .services .service-img span {
    margin: 0 10px 0 0!important;
    background-position: -60px 0px!important;
}
.ishiservicesblock .ishiservices .services .service-block {
	text-align:  right;
}
.ishiservicesblock .ishiservices .services .service-block .service-title {
    font-weight: 600;
}
.index_bottom .flexslider .slides img {
	height: 350px;
    width: 100%;
    object-fit: cover;
}
/*index services*/
.ishiinstagramblock .home-title a {
	text-transform: none;
}

/*product page*/
.product-right.fixed-header {
    top: 100px;
}
.product-left-title .product-title {
	font-size: 36px;
	margin:  0 0;
}
.product-left-title {
	border: none;
}
.product__info {
	padding:  40px;
	box-shadow: 0px 0px 9px 0px #00000040;
}
.product-right .list-unstyled.price {
	display:  flex;
	align-items: flex-end;
}
.product__info .list-unstyled.price .product-price h2,
.product__info .list-unstyled.price .product-price {
    font-size: 38px;
    font-weight: 500;
}
.product__info .list-unstyled.price .product-dis {
    font-size: 25px;
    margin: 0 0 0 15px;
    color: #BFBFBF;
    font-weight: initial;
}
.product-right .list-unstyled.price .product-price {
	margin:  0 0;
}
.product__info .stiker {
    display: flex;
    margin: 0 0 20px 0!important;
}
.product-right .product__info .stiker > * {
	font-size: 14px;
	text-transform:  uppercase;
	border-radius:  5px;
	padding:  5px 10px;
	color: #c96;
    margin: 0 20px 0 0;
}
.product-right .product__info .attribute {
	color: #7A7A7A;
    padding: 0 0;
}
.product-right .product__info .attribute span {
	font-weight:  600;
}
.product__info .product__info_buy {
    margin: 0 -40px!important;
    padding: 30px 40px;
    background-color: #F2F2F2;
}
.product__info .required .control-label:before {
	content:  none;
}
.product__info .product__info_buy-btn > *:not(#button-cart) {
	display:  none;
}
.product__info_buy #product > .row {
	display:  flex;
	margin: 0 0;
    align-items: flex-end;
    justify-content: space-between;
}
.product-right .form-group .control-label {
    font-size: 18px;
    margin: 0 0 15px 0;
}
.product-right .form-group .control-label:after{
	content: ':';
}
.product__info_buy #product > .row:before,
.product__info_buy #product > .row:after {
	content:  none;
}
.product__info_buy #product > .row .product_option {
	width: 48%;
}
.product__info_buy .form-control {
    border-color: #000!important;
    height: 50px;
    margin: 0 0;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    padding: 0 10px;
}
.product__info_buy #product > .row .product_option > .form-group {
	margin:  0 0;
}
.product__info_buy #product > .row .product__info_buy-btn {
	width: 48%;
    margin: 0 0;
    overflow:  initial;
}
.product-right .product__info_buy .form-group #button-cart {
    width: 100%;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #CC9966;
    border: none;
    transition:  0.3s;
}
.product-right .product__info_buy .form-group #button-cart:hover {
	transition: 0.3s;
	transform: scale(1.03);
	box-shadow: 3px 3px 7px 0px #0000007d;
}
.product-right .product__info_buy .table-size {
	margin:  0 0;
}
.product-right .product__info_buy .table-size a {
	color: #7A7A7A;
	border-bottom:  1px dashed #7A7A7A;
	font-size: 12px;
	margin: 10px 0 0 8%;
    text-decoration: none;
    display: inline-block;
}
.product__info .rating-wrapper {
	margin: 20px 0 0 0;
    display: flex;
    align-items: center;
}
.product__info .rating-wrapper a {
	color:  #000!important;;
}
.product__info .rating-wrapper .product__share {
    display: flex;
    align-items: center;
    color: #000;
}
.product__info .rating-wrapper .product__share .txt {
    margin: 0 10px 0 0;
}
.product__info .rating-wrapper .ya-share2__popup {
    position: absolute;
    top: initial!important;
    bottom: -43px;
    right: -196px;
}
.product__info .rating-wrapper .ya-share2__popup ul {
    display: inline-flex;
}
.product__info .rating-wrapper {}
.product__info .rating-wrapper {}
.product__info .rating-wrapper {}
.product_carousel .carousel-container {
	box-shadow: 0px 0px 9px 0px #00000040;
}
.product-left .thumbnail {
	border: none;
}
.product-left .tabs_info {
	box-shadow: 0px 0px 9px 0px #00000040;
}
.product-left .tabs_info .panel-default a[aria-expanded="true"] {
	color: #c96;
	background-color: #F2F2F2;
}
.product-left .tabs_info .panel-default a {
	padding: 20px 35px;
	font-size: 16px;
}
.product-left .tabs_info .panel-default a[aria-expanded="false"] {
	background-color: #F7F8F9;
}
.product-left .product-desc-tab video {
	width:  250px;
}
.product-left .product-desc-tab {
	display:  flex;
	padding:  20px 10px;
}
.product-left .product-desc-tab .about  {
	padding: 0 20px;
	color: #000;
}
.product-left .product-desc-tab .about .title {
	font-size: 18px;
	font-weight: 500;
	margin:  0 0 15px 0;
}
.product-left .product-desc-tab .about ul {
	padding: 0 0 ;
}
.product-left .product-desc-tab .about ul li {
	list-style-type: none;
}
.product-left .product-desc-tab .about ul li:before {
	content:  '';
	background-image: url(/image/catalog/favicon.png);
	width: 10px;
	height: 10px;
	display: inline-block;
	margin:  0 10px 0 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


.price__info_dolyame {
	position: relative;
	margin: 0 0 20px 0;
}
.price__info_dolyame .price__info_head {
	display: inline-flex;
    border: 1px solid #000;
    padding: 10px 40px 10px 20px;
    color: #000;
    position: relative;
    width: 330px;
    transition: 0.3s;
}

.price__info_dolyame .price__info_head:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    right: 11px;
    top: 11px;
    transform: rotate(133deg);
    transition: 0.3s;
}
.price__info_dolyame .price__info_title {
	display: flex;
    margin: 0 25px 0 0;
    width: 80px;
}
.price__info_dolyame .price__info_title img {
    width: 80px;
    object-fit: contain;
}
.price__info_dolyame .price__info_about {
    color: #000;
    border: 1px solid #000;
    max-width: 330px;
    position: relative;
    top: -1px;
}


.price__info_dolyame .price__info_about {
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0px 12px 20px -5px rgb(50 50 50 / 30%);
	-moz-box-shadow: 0px 12px 20px -5px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 12px 20px 3px rgb(50 50 50 / 30%);
	padding: 10px 10px 15px 10px;
	left: 0px;
	width: 100%;
	transition: 0s;
	cursor: pointer;
	z-index: 60;
	border: 1px solid #000;
	top: 39px;
	line-height: initial;
	min-width: 330px;
	line-height: initial;
	opacity: 0;
	z-index: -1;
	cursor: default;
}
.price__info_dolyame .price__info_about .title {
    font-size: 16px!important;
    margin: 0 0 0 0!important;
    display: block;
    padding: 5px 0 5px 0!important;
    text-transform: none!important;
    text-align: center;
    font-weight: 600;
    line-height: 18px;
}
.price__info_dolyame .price__info_about .desc {
	border-top: 1px solid #EDEDED;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}
.price__info_dolyame .price__info_about .desc .subtitle-text {
    text-align: center;
    display: block;
}
.price__info_about .dolyame-row:first-child {
	display: flex;
	margin: 20px 0;
	flex-wrap: wrap;
}
.price__info_about .dolyame-row .dolyame-item {
	width: 25%;
	margin: 5px 0;
	position: relative;
}
.price__info_about .dolyame-row .dolyame-price {
	font-size: 13px;
	text-align: center;
}
.price__info_about .dolyame-row .dolyame-date {
	font-size: 11px;
    line-height: 12px;
    text-align: center;
}
.price__info_about .dolyame-row .dolyame-circle {
	position: relative;
	width: 100%;
	height: 20px;
	display: flex;
	margin: 5px 0;
}
.price__info_about .dolyame-row .dolyame-circle:after {
	content: '';
	width: 100%;
	height: 1px;
	display: flex;
	background: #c7c9cc;
	position: absolute;
	bottom: 8px;
}
.price__info_about .dolyame-row .dolyame-circle:before {
	content: '';
	background-image: url(/catalog/view/theme/fashionist/img/icons/dolyame-step.svg);
	width: 18px;
	height: 18px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 35%;
	z-index: 2;
	background-color: #fff;
}
.price__info_about .dolyame-row .dolyame-circle.circle-1:before {

}
.price__info_about .dolyame-row .dolyame-circle.circle-2:before {
	background-position-y: -18px;
}
.price__info_about .dolyame-row .dolyame-circle.circle-3:before {
	background-position-y: -36px;
}
.price__info_about .dolyame-row .dolyame-circle.done:before {
	background-position-y: -54px;
}
.price__info_about .dolyame-row .dolyame-item:first-child:before,
.price__info_about .dolyame-row .dolyame-item:last-child:before {
	content: "";
	background: #fff;
	width: 35%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 36px;
	z-index: 3;
	display: flex;
}
.price__info_about .dolyame-row .dolyame-item:last-child:before {
	right: 0;
	left: initial;
	width: 42%;
}
.price__info_about .dolyame-row ul {
	margin: 0 0;
}
.price__info_about .dolyame-row  li {
	font-size: 14px;
	text-align: left;
	list-style-type: none;
	position: relative;
}
.price__info_about .dolyame-row  li:before {
    color: #6fadaa;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
    background-color: #6fadaa;
    position: relative;
    top: -2px;
    margin: 0 6px 0 0;
}
.dolyame_pop_up {
	display: flex;
}
.price__info_about .dolyame > span > a {
	display: block;
    text-align: center;
    margin: 10px 0 0px 0;
    color: #9d9d9d;
}
.price__info_about .dolyame > span > a:hover {
	text-decoration: underline;
	color: #c96;
}
.product__info .price__info_dolyame.active .price__info_about {
	opacity: 1;
	z-index: 1;
	transition: 0.3s;
	position: relative;
	top: 0;
	left: 0;
}

/*product page finish*/

/*basket page*/
#account-forgotten .breadcrumb {
	padding: 10px 0;
}
#simplecheckout_form_0 tr, 
#simplecheckout_form_0 th, 
#simplecheckout_form_0 td,
.simplecheckout-cart,
.simplecheckout-cart-total {
	border: none!important;
}
#simplecheckout_form_0 {
    margin: 35px 0 0 0;
    background-color: #ffffffc4;
}
.simple-content .simplecheckout-cart th {
	background-color: #F7F8F9;
	padding: 11px 0px;
}
#simplecheckout_form_0 th {
	font-weight: 400;
}
.simple-content #simplecheckout_cart {
	box-shadow: 0px 0px 9px 0px #00000040;
}
.simplecheckout-cart > tbody td {
	padding: 20px 0px 0 0 ;
}
.simplecheckout-cart > tbody td:first-child {
	padding-left: 30px;
}
.simplecheckout-cart > tbody td:last-child {
	padding-right: 30px;
}
.simplecheckout-cart > thead th:first-child {
	padding-left: 30px;
}
.simplecheckout-cart > thead th:last-child {
	padding-right: 30px;
}
.simplecheckout-cart > tbody td {
	font-size: 16px!important;
}
.simplecheckout-cart > tbody td a {
	font-size: 16px!important;
}
.simplecheckout-cart > tbody td.name .options small {
	font-size: 16px!important;
    display: block;
}
.simplecheckout-cart > tbody td.quantity .btn-primary,
.simplecheckout-cart > tbody td.quantity .btn-primary {
	background-color: #7A7A7A;
	border: none;
	padding: 5px 10px;
    font-size: 10px;
}
.simplecheckout-cart > tbody td.quantity .btn-danger {
	padding: 5px 10px;
    font-size: 9px;
    margin-left: 5px;
}
.simplecheckout-cart > tbody td.quantity button:hover {
	transition: 0.3s;
	background-color: #000;
}
.simplecheckout-cart > tbody td.quantity input {
    margin: 0 10px!important;
    padding: 5px 8px;
    min-width: initial;
    line-height: initial;
    height: 30px;
}
.simplecheckout-cart > tbody td.price {
	font-size: 16px!important;
}
.simplecheckout-cart > tbody td.price div:last-child {
	color: #000;
	display: inline-block;
	font-weight: 500;
}
.simplecheckout-cart > tbody td.price div:first-child {
	margin: 0px 0 15px 0;
}
.simplecheckout-cart > tbody td.total {
	font-size: 16px!important;
	color: #000;
}
.simple-content .table-responsive {
    padding: 0 0 30px 0;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total {
	background-color: #F7F8F9;
	text-align: left;
    padding: 10px 15px 10px 30px;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total span[class^="simplecheckout-cart-total"]{
	color: #000;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total .inputs {
	font-weight: 600;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total .inputs input {
	padding: 0 0;
    line-height: initial;
    height: 30px;
    margin: 0 0 0 10px!important;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total:nth-child(5) {
	
}
.simple-content .simplecheckout-block .simplecheckout-cart-total.simplecheckout-cart-buttons {
	padding: 10px 15px;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total.simplecheckout-cart-buttons a {
	padding: 5px 10px;
    font-size: 12px;
    background-color: #989898;
    border: none;
}
.simple-content .simplecheckout-block .simplecheckout-cart-total.simplecheckout-cart-buttons a:hover {
	transition: 0.3s;
	background-color: #000;
}

.simplecheckout-left-column #simplecheckout_customer,
.simplecheckout-left-column #simplecheckout_shipping_address,
.simplecheckout-right-column {
	box-shadow: 0px 0px 9px 0px #00000040;
}
.simplecheckout-block .panel-heading {
	background-color: #F7F8F9!important;
    border: none;
    padding: 11px 30px!important;
}
.simplecheckout-block .panel-heading .checkout-heading-button a {
	color: #7A7A7A;
	font-size: 12px;
	border-bottom: 1px dashed #7A7A7A;
}
.simplecheckout-block .panel-heading .checkout-heading-button a:hover {
	color: #c96;
	transition: 0.3s;
	border-bottom: 1px solid #c96;
}
.simplecheckout-block .simplecheckout-block-content {
	padding: 15px 30px;
}
.simplecheckout-left-column input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 0;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #c96;
}
.simplecheckout-left-column input[type='radio']:checked:after,
.simplecheckout-right-column input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 0;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #c96;
}
.simplecheckout-left-column input[type='radio']:checked:before,
.simplecheckout-right-column input[type='radio']:checked:before {
    top: -5px;
    left: 2px;
    position: absolute;
    background-color: transparent;
    content: '';
    display: inline-block;
    visibility: visible;
    z-index: 2;
    width: 18px;
    height: 9px;
    border-bottom: solid 2px #c96;
    border-left: solid 2px #c96;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-45deg);
}
#simplecheckout_shipping_address .form-horizontal {
	display: flex;
    flex-wrap: wrap;
}
#simplecheckout_shipping_address .form-horizontal .form-group {
	display: flex;
	flex-direction: column;
    margin: 0 0 30px 0;
    width: 50%;
    position: relative;
}
#simplecheckout_shipping_address .form-horizontal .required .control-label:before {
	position: absolute;
    bottom: 17px;
    right: 20px;
    z-index: 2;
    color: #ff00008c;
}
#simplecheckout_shipping_address .form-horizontal label {
	padding: 0 0;
    position: initial;
}
#simplecheckout_shipping_address .form-horizontal .form-group > div {
	width: 100%;
	padding: 8px 20px 0 0;
}
#simplecheckout_shipping_address .form-horizontal .row-shipping_address_address_1 {
	width: 100%;
	margin: 0 0;
}
#simplecheckout_shipping,
#simplecheckout_payment,
#simplecheckout_comment {
	margin: 0 0;
}
#simplecheckout_shipping .simplecheckout-block-content p.simplecheckout-block-p {
    font-size: 10px;
    line-height: initial;
}
#simplecheckout_shipping .simplecheckout-block-content p b {
	color: #000;
	text-decoration: underline;
    font-weight: 400;
    margin: 20px 0 0 0;
    display: block;
}
#simplecheckout_shipping .simplecheckout-block-content .form-group {
	margin: 0 0;
}
#simplecheckout_comment textarea {
	resize: none;
	padding: 15px 30px;
}
.simplecheckout .simplecheckout-button-block .simplecheckout-button-right {
	float: none;
    text-align: center;
    margin: 10px 0 0 0;
}
.simplecheckout .simplecheckout-button-block .simplecheckout-button-right #simplecheckout_button_confirm {
    background-color: #c96;
    border: none;
    font-size: 22px;
    padding: 16px 10%;
    transition: 0.3s;
}
.simplecheckout .simplecheckout-button-block .simplecheckout-button-right #simplecheckout_button_confirm:hover {
	transform: scale(1.03);
	transition: 0.3s;
	background-color: #000;
    box-shadow: 0px 0px 9px 0px #00000040;
}
#simplecheckout_shipping {
	position: relative;
}
#simplecheckout_shipping .simplecheckout-block-content.desktop-hidden {
    max-height: 250px;
    overflow-y: hidden;
}
#simplecheckout_shipping .ship_all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eaeaead4;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    box-shadow: inset 0px -49px 55px 8px #fff;
}
#simplecheckout_shipping .ship_all:hover {
	text-decoration: underline;
	box-shadow: inset 0px -49px 55px 8px #e8e8e8;
}
#simplecheckout_form_0 #simplecheckout_shipping label[for="cdek.tariff_137_0"]:last-child {
	/*display: none!important;*/
}
#simplecheckout_shipping #ozon-open-pvz-simple,
#simplecheckout_shipping #ozon-open-postamat-simple {
    border: 1px solid #cacaca;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 0px 0 10px 26px;
    display: inline-block;
}
/*basket page*/

/*category page*/
#product-category #content .products {
	box-shadow: 0px 0px 9px 0px #00000040;
    padding: 0 0;
    border-radius: 10px 10px 0 0;
}
#product-category .product-list-top {
	border-radius: 10px 10px 0 0;
	font-size: 12px;
	padding: 10px 20px;
}
#product-category .product-list-top label {
	font-size: 12px;
	margin: 0 0;
}
#product-category .product-list-top select {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 0 0 15px;
}
#product-category .product-list-js {
    margin: 0 0!important;
}
#product-category .product-list-js:before,
#product-category .product-list-js:after {
	content: none;
}
#product-category .product-list-js .product-layout {
	clear: initial;
	background-color: #fff;
    border: 1px solid #e9e9e9;
    transition: 0.3s;
}
#product-category .product-list-js .product-layout:hover {
	transition: 0.3s;
	transform: scale(1.03);
    box-shadow: 3px 2px 9px 1px #b9b9b9;
}
#product-category .product-list-js .product-layout .product-container {
}
#product-category .product-layout .product-thumb .caption {
    padding: 10px;
}
#product-category .product-layout .caption .stiker {
    display: flex;
    justify-content: center;
}
#product-category .product-layout .caption .stiker * {
    color: #c96;
    text-transform: uppercase;
    margin: 0 5px 10px 0;
    padding: 2px 12px 1px 12px;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: initial;
}
#product-category .product-layout h4 {
    height: 40px;
    overflow: hidden;
    margin: 0 0 5px 0;
}
#product-category .product-layout h4 a {
    white-space: normal;
}
#product-category .product-layout .articul {
    margin: 0 0 10px 0;
}
#product-category .product-layout .price {
	font-size: 18px;
}
#product-category .product-layout .price .price-old {
    color: #171717;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}
#product-category #column-left .box {
	box-shadow: 0px 0px 9px 0px #00000040;
    padding: 0 0;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
}
#product-category #column-left .box h2 {
	border-radius: 10px 10px 0 0;
	padding: 21px 20px;
}
#product-category #column-left .category-top-menu  {
	padding: 20px 0 0px 20px;
}
#product-category #column-left .category-top-menu a {
    padding: 0 0 20px 0px;
    font-size: 16px;
    position: relative;
}
#product-category #column-left ul {
	background-color: transparent;
}
#product-category #column-left .category-top-menu a:hover {
	font-weight: 500;
	transition: 0.3s;
	color: #c96;
}
#product-category #column-left .category-top-menu a:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 16px;
	width: 0;
	height: 1px;
	background-color: #c96;
	transition: 0.2s;
}
#product-category #column-left .category-top-menu a:hover:before {
	width: 100%;
	transition: 0.3s;
}
#product-category #column-left .featured-products {
	box-shadow: 0px 0px 9px 0px #00000040;
    padding: 0 0;
    border-radius: 10px 10px 0 0;
}
#product-category #bestseller-container .caption {
    display: flex;
    flex-direction: column;
}
#product-category #bestseller-container .caption .stiker {order: 2;}
#product-category #bestseller-container .caption h4 {order: 1; margin: 0;}
#product-category #bestseller-container .caption .articul {display: none;}
#product-category #bestseller-container .caption .price {order: 3;}
#product-category #bestseller-container .caption h4 a {
	font-size: 12px;
    line-height: initial;
    max-height: 45px;
    overflow: hidden;
    display: inline-block;
}
#product-category #bestseller-container .caption .stiker {
    display: flex;
    justify-content: flex-start;
}
#product-category #bestseller-container .caption .stiker * {
    color: #c96;
    text-transform: uppercase;
    margin: 0 5px 10px 0;
    padding: 2px 5px 1px 5px;
    display: flex;
    align-items: center;
    font-size: 8px;
    line-height: initial;
}
#product-category  #column-left .ishibannerblock {
	display: none;
}
#product-category {
	background-image: url(../img/bg-img.jpg);
	background-size: contain;
}
#product-category .category_description {
	display: none;
}
#product-category .category-title {
    display: block;
    margin: 15px 0 15px 35px!important;
    padding: 0 0;
}
#_desktop_column_left .ishibannerblock {
	display: none;
}
#product-category .product-list-js .product-layout .price {
	margin: 0 0 0 0!important;
}
#product-category .product-list-js .product-layout .dolyami-category {
	display: block;
    color: #999999;
    margin: 10px 0;
}
#product-category .product-list-js .product-layout .dolyami-category a {
	color: #999999;
	text-decoration: underline;
}
/*category page*/

/*dolyami*/
.dolyami__container {line-height: initial;}
.dolyami__container .row:after, .dolyami__container .row:before {}
.dolyami__container .dolyami__title h1 {
	font-weight: 600;
    line-height: 45px;
}
.dolyami__container .dolyami__subtitle {
    font-size: 18px;
    margin: 20px 0;
}
.dolyami__container a.dolyami__catalog {
    background-color: #000;
    color: #fff;
    display: inline-flex;
    padding: 15px 35px;
    border-radius: 5px;
    margin: 40px 0 0 0;
}
.dolyami__container a.dolyami__catalog:hover {
    background-color: #c96;
    transition: 0.3s;
}
.dolyami__img img {
	display: block;
    max-width: 100%;
}
.dolyami__container .dolyami-adv {
    margin: 130px 0;
}
.dolyami__container .dolyami-item {
}
.dolyami__container .dolyami-adv .dolyami-item img {
	width: 48px;
	min-width: 48px;
	height: 48px;
	min-height: 48px;
}
.dolyami__container .dolyami-adv .dolyami-item .title {
	font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 25px 0 15px 0;
}
.dolyami__container .dolyami__work .like_h2 {
	display: flex;
	justify-content: center;
	font-weight: 600;
	margin: 0 0 70px 0;
	text-align: center;
}
.dolyami__container .dolyami__work .title {
	font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 25px 0 15px 0;
}
.dolyami__container .dolyami__video {
    display: flex;
    justify-content: center;
    margin: 130px 0;
}
.dolyami__container .dolyami__faq .like_h2 {
	display: flex;
	justify-content: center;
	font-weight: 600;
	margin: 0 0 70px 0;
	text-align: center;
}
.dolyami__container .dolyami__faq .item-question {
	margin: 0 0 30px 0;
	cursor: pointer;
}
.dolyami__container .dolyami__faq .item-question .title {
	font-size: 18px;
	font-weight: 600;
	display: flex;
	margin: 0 0 15px 0;
	color: #000;
    border-bottom: 1px solid #cbcbcb;
    padding: 0 0 10px 0;
    position: relative;
    transition: 0.3s;
}
.dolyami__container .dolyami__faq .item-question .title:after {
	content: '';
    width: 15px;
    height: 15px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    position: absolute;
    right: 8px;
    top: 10px;
    transform: rotate(315deg);
    transition: 0.3s;
}
.dolyami__container .dolyami__faq .item-question.active .title:after {
	transform: rotate(132deg);
}
.dolyami__container .dolyami__faq .item-question:hover .title {
	color: #c96;
	border-bottom: 1px solid #c96;
	transition: 0.3s;
}
.dolyami__container .dolyami__faq .item-question:hover .title:after {
	border-top: 4px solid #c96;
    border-right: 4px solid #c96;
    transition: 0.3s;
}
.dolyami__faq a.help {
	display: none;
}
/*dolyami*/

/*похожие товары similar product*/
.card_bootom_container h3 {
	position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card_bootom_container h3:before {
	content: '';
    flex: 0.4;
    height: 2px;
    background-color: #f2f2f2;
    display: block!important;
}
.card_bootom_container h3:after {
	content: '';
    flex: 0.4;
    height: 2px;
    background-color: #f2f2f2;
    display: block!important;
}
.card_bootom_container .product-thumb {
	border: 1px solid #e9e9e9;
}
.card_bootom_container .product-thumb h4 a {
	white-space: normal;
}
.card_bootom_container .product-thumb .price-new {
	font-size: 18px;
}
.card_bootom_container .row {
	display: flex;
}
.card_bootom_container .product-layout {
    display: flex;
}
.card_bootom_container .row > .text-right {
	display: none;
}
.card_bootom_container .row > .text-left.sp-nbm {
    display: flex;
    width: 100%;
    justify-content: center;
}
.card_bootom_container .product-thumb .caption p:not(.price) {
		display: none;
}
.card_bootom_container .product-thumb:hover {
	transition: 0.3s;
    transform: scale(1.03);
    box-shadow: 3px 2px 9px 1px #00000082;
}

/*похожие товары similar product*/

/*Reviews отзывы*/
div#ex-reviews {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 0px;
    top: -10px;
    position: relative;
}
#review-extended .image-crop,
#ex-reviews .store-image-crop {
    left: initial!important;
    object-fit: cover;
}
#ex-reviews .col-xs-12.col-md-4.bottom-10.col-rl {
	display: none;
}
#ex-reviews .row {
	display: flex;
	flex-wrap: wrap;
}
#ex-reviews .col-xs-12.col-md-3.text-center.bottom-10.col-rl {
    width: 100%;
    order: 2;
    display: none;
}

#ex-reviews .col-xs-12.col-md-5.col-rl {
	width: 100%!important;
}
#ex-reviews, #ex-reviews .review-box-wrapper {
	box-shadow: none!important;
}
#ex-reviews .review-rating-change-buttons {
	display: none;
}
#ex-reviews .carousel-reviews-store-reviews > .owl-wrapper-outer > .owl-wrapper > .owl-item > .item {
	border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #00000082;
    display: block;
    height: 100%;
}
#ex-reviews .carousel-reviews-store-reviews > .owl-wrapper-outer > .owl-wrapper {
	padding: 15px 0;
}
#ex-reviews .carousel-reviews-store-reviews > .owl-wrapper-outer > .owl-wrapper .owl-item {
	height: 240px;
    transform: scale(0.98);
}
#ex-reviews .owl-item:hover {
	transition: 0.3s;
    transform: scale(1.03);
}
#ex-reviews .mod-desc-reviews {
	max-height: initial!important;
}
#ex-reviews button.btn.btn-light.btn-review-more {
	display: none;
}
#ex-reviews .info-header-review-mod {
	border-radius: 10px;
}
#ex-reviews .review-media-container {
    max-height: 90px;
    margin: -15px 0 0 22px;
}
#ex-reviews p {
	color: #000;
}
#ex-reviews div[id^="review_box"] {
	padding: 10px 15px;
}
#ex-reviews .owl-prev {
	width: 30px;
    height: 30px;
}
#ex-reviews .rev-author {
    color: #000;
    width: initial;
}
#ex-reviews .rev-rating {
	width: initial;
	margin: 0 0 0 20px;
}
#ex-reviews .rev-date-add {
	float: right;
}
#ex-store-reviews h3 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 500;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0 20px 0;
}
#ex-store-reviews h3:before {
    content: '';
    flex: 0.4;
    height: 2px;
    background-color: #f2f2f2;
    display: block!important;
}
#ex-store-reviews h3:after {
    content: '';
    flex: 0.4;
    height: 2px;
    background-color: #f2f2f2;
    display: block!important;
}
#ex-reviews .owl-carousel .owl-buttons div {
	opacity: 1;
    top: initial;
    bottom: -9px;
    background-color: transparent;
}
.all-review-box-mod.owl-carousel .owl-buttons .owl-next {
    right: 3%!important;
}
.all-review-box-mod.owl-carousel .owl-buttons .owl-prev {
	left: 0!important;
}
#review-extended .fa-stack-2x {
    font-size: 16px;
}
#ex-store-reviews .review__page_link {
    color: #000;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    margin: 0 auto;
    max-width: 1400px;
}
#ex-store-reviews .review__page_link .write_rev {
    display: flex;
    flex-direction: column;
}
#ex-store-reviews .review__page_link .write_rev a {
	text-decoration: underline;
    display: block;
    margin: 10px 0 0 0;
}
.all_rev a {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
}
.all_rev a:hover {
	transition: 0.3s;
	background-color: #c96;
	border: 1px solid #c96;
}
#product-category #ex-reviews p,
#information-information #ex-reviews p {
    max-height: 49px;
}
/*Reviews отзывы*/

/*Личный кабинет ЛК*/

.user__cabinet > .a-link-list.hide {
	display: none!important;
}
.user__cabinet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user__cabinet > .a-link-list {
	width: 48%;
	position: relative;
}
.user__cabinet .a-link-list .a-link-heading {
	background-color: #F5F5F5!important;
	padding: 5px 25px!important;
	font-size: 17px!important;
}
#account-account .user__cabinet .a-link-list {
	padding: 0 0;
	border-radius: 10px;
}
#account-account .user__cabinet .a-link-list .a-link-content ul {
    padding: 100px 60px 60px 40px;
}
#account-account .user__cabinet .a-link-list.lk:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/other/lk.jpg);
	background-size: cover;
	display: inline-block;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.6;
	border-radius: 10px;
}
#account-account .user__cabinet .a-link-list.orders:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/other/orders.jpg);
	background-size: cover;
	display: inline-block;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0.6;
	border-radius: 10px;
}
#account-account .a-link-list .a-link-content ul li a {
    color: #888;
    line-height: 24px;
    padding: 10px 20px;
    background-color: #fff6;
    margin: 0 0 15px 0;
    display: block;
}
#account-account .user__cabinet .a-link-list:hover {
	transition: 0.3s;
	transform: scale(1.03);
	box-shadow: 3px 2px 9px 1px #00000082;
}
#account-account .user__cabinet .a-link-list:hover:before{
	opacity: 1;
	transition: 0.3s;
}
#account-account .user__cabinet .a-link-list:hover ul li a {
	background-color: #fff;
	color: #000;
}
#account-account .a-link-list .a-link-content ul li a:hover {
	background-color: #000;
	color: #fff;
	transition: 0.3s;
}
/*Личный кабинет ЛК*/

/*Blog Блог*/
.smartblog_block {
	width: 100%;
    padding: 0 0;
    border: none;
}
.smartblog_block .owl-wrapper-outer {
	border: none;
    box-shadow: none;
}
.smartblog_block .owl-wrapper {
	width: 100%!important;
}
.smartblog_block .owl-item {
	width: 25%!important;
}
.smartblog_block .blog_post .news_module_image_holder img {    
	min-width: 100%;
    object-fit: cover;
    transform: scale(1.4);}
.single-blog .blog-desc {
    padding: 30px 0 0 0;
    width: 100%;
    text-align: left;
    color: #000;
}
.single-blog .blog-desc p {
	color: #000;
}
.single-blog .blog-desc h3 {
	margin: 20px 0 20px 0;
}
.single-blog .blog-desc li {
	margin: 0 0 10px 20px;
}
.blog-content .comment-wrapper {
	display: none!important;
}
/*Blog Блог*/


@media (min-width: 1200px) {
	.container {
	    max-width: 1400px!important;
	    width: 1400px!important;
	}
}
/*@media (min-width: 1200px)*/

@media (min-width: 993px){
	#product-category .product-list-js .product-layout .product-container {
    padding: 0 0;
	}
	#product-category .product-list-js {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 15px;
        grid-row-gap: 20px;
	}
	#product-category .product-list-js .product-layout {
		width: 100%;
	}
	#product-category .product-layout .product-thumb {
		margin: 0 0;
	}
	.price__info_dolyame .price__info_head:hover:after {
		transition: 0.3s;
	    transform: rotate(316deg);
	    border-color: #000;
	    top: 15px;
	}
	.price__info_dolyame:hover .price__info_about {
		opacity: 1;
		z-index: 1;
	}
}
/*@media (min-width: 993px)*/

@media (max-width: 993px) {
	#top-menu > li > a {
	    font-size: 15px;
	}
	.ishiproductsblock .owl-carousel .owl-nav {
	    top: -40px;
	}
	.ishiproductsblock .owl-carousel .owl-nav .owl-prev {
    	left: 10px;
	}
	.ishiproductsblock .owl-carousel .owl-nav .owl-next {
    	right: 10px;
	}
	.ishibannerblock .bannerblock .banner-data .banner-subtitle {
		font-size: 16px;
	}
	.ishiproductsblock .owl-item .item .stiker * {
		padding: 2px 5px 1px 5px;
	}
	#product-category .product-list-js .product-layout {
    	width: 50%;
	}
	.dolyame__head {
		display: flex;
		flex-direction: column;
	}
	.dolyami__img {order: 1;}
	.dolyami__title {order: 2;}
	.dolyami__img img {
		width: 100%;
		display: block;
		object-fit: contain;
	}
	.dolyami__container .dolyami-adv,
	.dolyami__container .dolyami__video {
    	margin: 70px 0;
	}
	.dolyami__container .dolyami__work .like_h2,
	.dolyami__container .dolyami__faq .like_h2 {
		margin: 0 0 30px 0;
	}
	.dolyami__work .dolyami-item {
		margin: 0 0 30px 0;
	}
	.dolyami__container .dolyami__work .title,
	.dolyami__container .dolyami-adv .dolyami-item .title {
	    margin: 15px 0 5px 0;
	}
	.dolyami__container .dolyami__faq .item-question {
		padding: 0 20px;
	}
	.dolyami__container .dolyami__faq .item-question .title {
	    padding: 0 40px 15px 0;
	}
	.dolyami-adv .dolyami-item {
		margin: 0 0 30px 0;
	}
	.smartblog_block .owl-wrapper {
	    width: 100%!important;
	    display: flex!important;
	    flex-wrap: wrap;
	}
	.smartblog_block .owl-item {
    	width: 50%!important;
	}
	.smartblog_block .owl-wrapper > div:nth-child(n + 3) {
		display: none;
	}
	.smartblog_block .date-time {
		display: none;
	}
}
/*(max-width: 993px)*/

@media (max-width: 770px) {
	body.fixed {
		overflow: hidden;
	}
	#menu-icon .nav-icon .icon {
		transform: scale(1.5);
	}
	#menu-icon .nav-icon {
    	margin: 0 15px 0 0;
	}
	.nav-full-width #_mobile_search_widget .search-logo .icon {
		transform: scale(1.3);
	}
	.nav-full-width #_mobile_logo img {
		max-height: 60px;
    	height: 60px;
	}
	.nav-full-width .user-info .icon {
		transform: scale(1.3);
	}
	.nav-full-width #_mobile_cart {
		margin: 0 0 0 15px;
	}
	.nav-full-width #_mobile_cart .icon {
		transform: scale(1.2);
	}
	.search-widget form {
	    left: -30px;
	    width: 300px;
	    box-shadow: 4px 4px 9px 0px #00000080;
	}
	.search-widget form .input-group {
		width: 100%;
	}
	.ishislider .owl-carousel .owl-dots {
		bottom: -7px;
	}
	.ishislider .owl-carousel .owl-dots.ishi-style-dot5 .owl-dot span {
	    width: 8px;
	    height: 8px;
	}
	.ishibannerblock {
	    padding: 25px 0 0px 0;
    	margin: 0 0 45px 0;
	}
	.ishibannerblock > .row {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.ishibannerblock > .row:before,
	.ishibannerblock > .row:after {
		content: none;
	}
	.ishibannerblock .bannerblock {
		width: 45%;
		margin-bottom: 40px;
	}
	.ishibannerblock a img {
	    max-height: 250px;
    	object-fit: cover;
	}
	.ishiproductsblock .owl-item .item .stiker * {
		padding: 2px 10px 1px 10px;
	}
	.ishiparallaxbannerblock .parallax_banner .parallax-list {
    	width: 100%;
	}
	.ishiservices {
    	flex-wrap: wrap;
	    flex-direction: column;
	}
	.ishiservicesblock .ishiservices .services {
    	width: 33%;
    	padding: 0 0;
    	margin: 0 0 35px 0;
	}
	.ishiservicesblock .ishiservices .services:nth-child(even) {
		margin-left: auto;
	}
	.ishiservices .services .service-img {
		display: block;
		width: 100%;
	}
	.ishiservices .services .service-img span {
		margin-left: auto!important;
	}
	.ishiservices .services:before {
		font-size: 100px;
		bottom: -13px;
		top: initial;
	}
	#_mobile_blockcontact #contact-info-container > .block {
		margin: 0 0 15px 0
	}
	#_mobile_blockcontact #contact-info-container > .block .content {
		line-height: initial;
	}
	#footer .footer-container .block-contact .block .icon {
		height: 30px;
	    width: 30px;
	    line-height: 27px;
	}
	#footer .footer-container .block-contact .block .icon i:before {
		font-size: 14px;
	}
	#common-home .home-title {
		flex-wrap: wrap;
	    font-size: 20px;
        flex-direction: column;
	}
	#common-home .home-title a {
		font-size: 20px;
	    line-height: 20px;
	}
	#common-home .home-title:before,
	#common-home .home-title:after {
		width: 51%;
		flex: initial;
	}
	#common-home .home-title:before {margin: 0 0 10px 0; margin-right: auto;}
	#common-home .home-title:after {margin: 10px 0 0px 0; margin-left: auto;}
	#product-category .product-list-js {
		display: flex!important;
		flex-wrap: wrap;
	}
	#product-category .product-layout .caption .stiker * {
    padding: 2px 5px 1px 5px;
    font-size: 9px;
	}
	#product-category .product-layout .product-thumb .caption {
	    padding: 10px 5px;
	}
	#product-category .product-layout .articul {
		font-size: 10px;
	}
	#product-category .product-layout .price {
    font-size: 14px;
    white-space: nowrap;
	}
	#product-category .product-layout .price .price-old {
		font-size: 11px;
	}
	.card_bootom_container .row {
		flex-wrap: wrap;
	}
	.card_bootom_container .product-thumb .caption p:not(.price) {
		display: none;
	}
	#ex-store-reviews .review__page_link {
		flex-direction: column;
	    padding: 0 15px
	}
	#ex-store-reviews .all_rev a {
		display: block;
		text-align: center;
		margin: 15px 0 0 0;
	}
	#ex-reviews .carousel-reviews-store-reviews > .owl-wrapper-outer > .owl-wrapper .owl-item {
		height: 280px;
	}
	#ex-reviews .owl-carousel .owl-buttons div {
		display: none;
	}
	#ex-reviews p {
	    max-height: 72px;
	    overflow: hidden;
	}
	.user__cabinet > .a-link-list {
		width: 100%;
	}
	#common-home #flexslider .flex-direction-nav {
		display: none;
	}
	#ex-store-reviews .row {
		margin: 0!important;
	}
	.product__info .rating-wrapper {
		width: 100vw;
	}
	.product__info .rating-wrapper * {
		font-size: 12px;
	}
	.product__info .rating-wrapper .product__share .txt {
		display: none;
	}
	.product__info .rating-wrapper .product__share .ya-share2__popup_visible {
		position: absolute;
        left: -283px;
	    width: 92vw;
	    bottom: 8px;
	}
	.product__info .rating-wrapper .product__share .ya-share2__popup-content {
		position: relative!important;
	}
	.product__info .rating-wrapper .product__share .ya-share2__icon {
		width: 20px;
		height: 20px;
	}
	.product__info .rating-wrapper .write-review {
		margin: 0 5px;
	}
	.product__info .rating-wrapper .product__share {}
}
/*max-width: 770px*/

@media (max-width: 450px) {
	.container > p.sub-title {
		display: none;
	}
	#common-home .home-title {
	    margin-bottom: 20px;
	}
	#menu-icon .nav-icon .icon {
		transform: scale(1.3);
	}
	.nav-full-width #_mobile_search_widget .search-logo .icon {
		transform: scale(1.1);
	}
	.nav-full-width .user-info .icon {
		transform: scale(1.1);
	}
	.nav-full-width #_mobile_logo img {
	    max-height: 50px;
	    height: 45px;
	}
	.ishibannerblock {
	    margin: 0 0 30px 0;
	}
	.ishibannerblock .bannerblock {
	    margin-bottom: 20px;
	}
	.ishibannerblock .bannerblock .banner-data {
		padding: 10px 0;
	}
	.ishibannerblock .bannerblock .banner-data .banner-subtitle {
		font-size: 15px;
    	margin: 0px 0 5px 0;
	}
	.ishibannerblock .bannerblock .banner-data .banner-btn {
		font-size: 14px;
	}
	.ishiproductsblock .owl-item .item {
		margin: 25px 5px;
	}
	.ishiproductsblock .owl-item .item .stiker * {
	    padding: 2px 5px 1px 5px;
	    font-size: 9px;
	}
	.ishiproductsblock .owl-item .item .price {
		white-space: nowrap;
	}
	.product-thumb .caption .price .price-old {
		font-size: 10px;
	}
	.ishiproductsblock .owl-carousel .owl-nav {
	    top: initial;
	    position: relative;
	    width: 40%;
	    margin: 0 auto;
	}
	.ishiproductsblock .owl-carousel .owl-nav > * {
		width: 30px;
    	height: 30px;
	}
	.ishiproductsblock .ishiproductstab {
    	background-color: #f2f2f2;
    	padding: 8px 0;
	}
	.ishiproductsblock .ishiproductstab .nav-item.active {
		border-radius: 5px;
    	background-color: #cc9966;
	}
	.ishiproductsblock .ishiproductstab .nav-item.active a {
		color: #fff!important;
	}
	.ishiproductsblock .owl-item .item .product-thumb {
		padding: 0px 0 10px 0;
	}
	.ishiproductsblock .owl-item .item .articul {
		font-size: 10px;
	}
	.ishiservicesblock .ishiservices .services {
		width: 65%;
	}
	.ishiservices .services .service-img span {
	    margin: 0 30px 5px 0!important;
        margin-left: auto!important;
	}
	.ishiservicesblock .ishiservices .services .service-block .service-title {
		margin: 0;
	}
	.product-left-title .product-title {
	    font-size: 22px;
	    margin: 0 0 20px 0;
	}
	.product-left-title .price {
		display:  none;
	}
	.product-left .product-desc-tab {
		flex-direction: column;
		align-items: center;
	}
	.product-left .product-desc-tab video {
    	margin: 0 0 20px 0;
	}
	.product-right .list-unstyled.price {
		display: flex;
	}
	.product-right .list-unstyled.price .product-price,
	.product-right .list-unstyled.price .product-dis {
		display: flex!important;
		align-items: flex-end;
	}
	.product__info .list-unstyled.price .product-price h2, .product__info .list-unstyled.price .product-price {
		display: block!important;
	    font-size: 28px;
	    text-align:  center;
	}
	.product__info_buy #product > .row {
		flex-direction: column;
	}
	.product__info_buy #product > .row .product_option {
		width: 100%;
	}
	.product__info_buy #product > .row .product__info_buy-btn {
		width: 100%;
	} 
	.product-right .product__info_buy .form-group #button-cart {
		margin: 20px 0 0 0;
		height: 40px;
		font-size: 20px;
	}
	.product__info_buy .form-control {
		height: 40px;
	}
	.product__info {
	    padding: 20px 20px;
	}
	.product-right .product__info .stiker > * {
	    font-size: 12px;
	    padding: 2px 10px;
	}
	.product__info .stiker {
	    margin: 0 0 15px 0!important;
	}
	.simplecheckout-cart > thead {
		display: none;
	}
	.simplecheckout-cart > tbody > tr {
	    display: flex;
	    flex-wrap: wrap;
		padding: 10px;
	}
	.simplecheckout-cart > tbody .name {
	    display: flex;
    	flex-wrap: wrap;
    	padding: 0px;
    	width: 100%;
	}
	.simplecheckout-cart > tbody .name .image {
		width: 30%;
	}
	.simplecheckout-cart > tbody .name a {
		width: 70%;
		display: flex;
    	align-items: center;
	}
	.simplecheckout-cart td.quantity {
    	padding: 0 0;
	}
	.simple-content .simplecheckout-cart td.total {
		padding: 0 0;
	    display: flex!important;
	    align-items: center;
	    margin: 0 0 0 30px;
	}
	.simple-content .simplecheckout-block .simplecheckout-cart-total:nth-child(5) {
		float: initial;
	}
	.simple-content .simplecheckout-block .simplecheckout-cart-total.simplecheckout-cart-buttons {
    	padding: 0 0 15px 30px;
	}
	.product__fix_container {
		position: fixed;
		bottom: 10px;
		width: 100%;
		background-color: #cc9966;
		display: flex;
		align-items: center;
		color: #fff;
		left: 0;
		z-index: 2;
	}
	.product__fix_container .price {
		background-color: #f2f2f2;
		height: 41px;
		color: #000;
		display: flex;
		align-items: center;
		font-size: 16px;
		width: 35%;
		justify-content: center;
	}
	.product__fix_container .btn_txt {
		display: flex;
		width: 65%;
		font-size: 12px;
		padding-left: 25px;
		text-transform: uppercase;
	}
	
	#footer #slidetop {
		bottom: 10px;
		height: 41px;
		line-height: initial;
		border-radius: 50%;
		padding: 0 0;
		width: 41px;
	}
	#footer #slidetop:before {
		top: 7px;
	}
	.mobile__video {
		position: fixed;
	    width: 100vw;
	    height: 100vh!important;
	    margin-left: calc((100% - 100vw) / 2)!important;
	    overflow: hidden;
	    top: 0;
	    z-index: -1;
	    margin-top: 0!important;
	    left: 0;
	    background-color: #fff;
	}
	.mobile__video .mobile__video_overlay {
	    position: absolute;
	    display: inline-block;
	    width: 100vw;
	    height: 100vh;
	    background-color: #ffffffe3;
	}
	.mobile__video_video {
	    width: 100vw;
	    height: 100vh;
	    object-fit: cover;
	}


	.nav-full-width.fixed-header {
		background-color: #fff!important;
	}
	#header,
	.nav-full-width,
	.ishibannerblock,
	#ex-reviews,
	.card_bootom_container .sp-l {
		background-color: #fff0!important;
	}
	.smartblog_block,
	.ishiservices,
	.smartblog_block .blog_post {
		background: #fff0!important;
	}
	.owl-carousel {
		background: transparent!important;
	}
	.flexslider,
	.owl-wrapper-outer {
		border: 0px solid #fff0!important;
		box-shadow: none!important;
	}
	.ishiservicesblock {
    	margin: 0px 0 50px 0;
	}
	#common-home .home-title:before, #common-home .home-title:after {
	    background-color: #cc9966;
	}
	.ishiservices .services:before {
		color: #a3a3a3;
	}
	.smartblog_block .blog_post .news_module_image_holder img {
	    transform: scale(1.5);
	}
	.ishibannerblock, .ishiparallaxbannerblock {
		margin-bottom: 40px;
	}
	#common-home .home-title {
    	margin-bottom: 30px;
	}
	.ishiproductsblock .ishiproductstab {
		display: flex;
	}
	#ex-reviews .carousel-reviews-store-reviews > .owl-wrapper-outer > .owl-wrapper {
		padding: 0 0;
	}
	.ishiparallaxbannerblock .parallax_banner.parallax {
		background-position: 85% 51.7931%!important;
    	background-size: 302%!important;
	}
	.ishiproductsblock .owl-item .item {
	    margin: 20px 0 0 0;
	    background-color: #ffffff75;
	    margin-bottom: 0;
	}
	.ishiproductsblock .owl-item .item .product-thumb {
	    padding: 0px 0 0px 0;
	    margin: 0 0;
	}
	.breadcrumb-container {
		background: none;
	    display: flex;
	}
	.breadcrumb {
    	padding: 5px 0 5px 10px;
		background: transparent;
	}
	#product-category {
		background-image: none;
	}
	#product-category .product-list-js .product-layout {
		background-color: #ffffffb5;
    	border: 0px solid #e9e9e9;
	}
	.product-list-top .btn-list-grid,
	.product-list-top .compare-total,
	.product-list-top .pagination-right .sort-by,
	.product-list-top .pagination-right .show {
		display: none!important;
	}
	.product-list-top .pagination-right,
	.product-list-top .pagination-right .show-wrapper {
		margin: 0 0;
	}
	.product-list-top .pagination-right {
	    display: flex;
	    justify-content: center;
	}
	.product-list-top {
		background-color: #ffffff00;
	}
	.product__info {
		background-color: #fff;
		padding: 20px 10px;
	}
	.ishiproductsblock .owl-item .item h4 {
    	height: initial;
	}
	.product-thumb .btn-cart {
		margin-bottom: 20px;
	}
	.price__info_dolyame .price__info_head {
		width: 100%;
	}

}
/*(max-width: 450px)*/

.breadcrumb a {
	white-space:  normal;
}