$brand-primary: #000000;
$brand-secondary: #cc9966;
$brand-third: #171717;
$icon-color: #000000;
$icon-responsivecolor: #000000;
$breadcrumb_color:#f5f5f5;
$breadcrumb_image:"https://cessa-shoes.ru/image/catalog/breadcrumb.jpg";
$rgba-bgcolor:rgba(204, 153, 102, .6);
$btn-primary-bg-color:#232323;
$btn-hover-primary-bg-color:#cc9966;
$btn-primary-text-color:#ffffff;
$btn-hover-primary-text-color:#ffffff;
$btn-secondary-bg-color:#cc9966;
$btn-hover-secondary-bg-color:#232323;
$btn-secondary-text-color:#ffffff;
$btn-hover-secondary-text-color:#ffffff;
$header-top-bg-color:#f7f8f9;
$header-top-text-color:#999999;
$header-bg-color:#ffffff;
$header-text-color:#000000;
$header-hover-text-color:#cc9966;
$product-icon-color:#000000;
$product-hover-icon-color:#cc9966;
$footer-bg-color:#f7f8f9;
$footer-bg-image:"";
$footer-title-color:#171717;
$footer-text-color:#7a7a7a;
$footer-hover-text-color:#cc9966;
